<% if (!_email) {%>
  <!--IF LOGGED OUT-->
  <a id="logged-out-nav" class="nav-item nav-link btn_nav_login" href="#" onclick="toggle()">LOG IN</a>
  <% } else {%>
  <!--IF LOGGED IN-->
  <div id="logged-in-nav" class="dropdown account_dropdown">
      <button class="btn ml-4 btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ACCOUNT
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="transactions">TRANSACTIONS</a>
        <a class="dropdown-item" href="logout" style="font-weight: 500;">LOG OUT</a>
      </div>
  </div>
  <% }%>