<% if (!_email) {%>
    <!-- IF LOGGED OUT -->
    <div class="col-sm-2.5 mx-auto">
        <a class="mx-auto btn_booknow" type="submit" value="Submit" href="#" onclick="toggle()">Book now</a>
    </div>
<% } else {%>
    <div class="col-sm-2.5 mx-auto">
        <a class="mx-auto btn_booknow" type="submit" value="Submit" href="../booking" onclick="submitBooking()">Book now</a>
    </div>

<% }%>