<div class="container">
    <div class="book_con">
        <div class="container">
            <form class="row mx-auto book_form" action="" autocomplete="off">
                <div class="col-sm-3 mx-auto book_form_label">
                    CHECK IN
                    <input id="checkin"/>
                </div>
                <div class="col-sm-3 mx-auto book_form_label">
                    CHECK OUT
                    <input id="checkout"/>
                </div>
                <!--
                    <div class="col-sm-3 mx-auto book_form_label">
                    GUESTS
                    <input type="number" id="numpeople" name="numpeople">
                </div>
                -->
                <div class="col-sm-3 mx-auto form-group">
                    <div class="book_form_label">
                        ROOM
                        <select class="form-control" id="room" required>
                            <option>Single Room</option>
                            <option>Double Room</option>
                            <option>Triple Room</option>
                            <option>Quad Room</option>
                            <option>Queen Room</option>
                            <option>King Room</option>
                        </select>
                    </div>
                </div>
                    
                <div class="col-sm-2.5 mx-auto">
                    <% if (!_email) {%>
                        <!-- IF LOGGED OUT -->
                        <div class="col-sm-2.5 mx-auto">
                            <a class="mx-auto btn_booknow" type="submit" value="Submit" href="#" onclick="toggle()">Book now</a>
                        </div>
                    <% } else {%>
                        <!-- IF LOGGED IN -->
                        <div class="col-sm-2.5 mx-auto">
                            <a class="mx-auto btn_booknow" type="submit" value="Submit" href="../booking">Book now</a>
                        </div>
                    
                    <% }%>
                </div>
            </form>
        </div>
    </div>
</div>