<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/index_css.css">
        <link rel="stylesheet" href="./css/booking_css.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
        <script src="./js/booking.js"></script>
    </head>
    <body>
        <div class="container_whole" id="blur">
        <a class="top_btn" href="#top">
            <i class="fa fa-arrow-up" style="color:#fff; font-size:28px;"></i>
        </a>
        <img src="images/hotel_bg.jpg" id="bg" alt="">
        <div class="container nav_main">
            <nav class="navbar navbar-expand-lg nav_options">
                <div class="navbar-brand hotel_name_nav">robotel</div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon">
                    <i class="fa fa-bars" style="color:#fff; font-size:28px;"></i>
                  </span>
                </button>
                <div class="collapse navbar-collapse justify-content-start" id="navbarNavAltMarkup">
                  <div class="navbar-nav ml-auto text-right float-right">
                    <a class="nav-item nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="rooms">Rooms</a>
                    <a class="nav-item nav-link" href="services">Services</a>
                    <a class="nav-item nav-link" href="#contactus_section">Contact Us</a>
                    
                    
                    <%- include('./partials/account_button.ejs') %>

                </div>
                </div>
              </nav>
        </div>
        <div class="container-fluid px-0 content_con" style="margin-top: 50px;">
            <div class="container-fluid py-5">
                <div class="container booking_form_con">
                  <form id="form_booking" onsubmit="return false;" class="was-validated" autocomplete="off">
                    <div class="row"> 
                        <div class="col-sm-6 px-4">
                            <div class="form-group">
                              <label for="fname">FULL NAME</label>
                              <input type="text" class="form-control" id="fname" name="fname" required>
                              <div class="valid-feedback">
                                <i class="fa fa-check" style="color: darkgreen; font-size:14;"></i>
                              </div>
                              <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="email">EMAIL</label>
                                <input type="email" class="form-control" id="email" name="email" value= "<%-_email%>" required readonly >
                                <div class="valid-feedback">
                                  <i class="fa fa-check" style="color: darkgreen; font-size:14;"></i>
                                </div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                              </div>
                              <div class="form-group">
                                <label for="num">CONTACT NUMBER</label>
                                <input type="number" class="form-control" id="num" name="num" required>
                                <div class="valid-feedback">
                                  <i class="fa fa-check" style="color: darkgreen; font-size:14;"></i>
                                </div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                              </div>
                            <div class="form-group">
                              <label for="address">ADDRESS</label>
                              <input type="text" class="form-control" id="address" name="address" required>
                              <div class="valid-feedback">
                                <i class="fa fa-check" style="color: darkgreen; font-size:14;"></i>
                              </div>
                              <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                        </div>
                        <div class="col-sm-6 px-4 d-flex flex-column justify-content-between">
                          <div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="checkin">CHECK IN</label>
                                  <input id="checkin" class="form-control" required/>
                                  <div class="valid-feedback">
                                    <i class="fa fa-check" style="color: darkgreen; font-size:14;"></i>
                                  </div>
                                  <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="checkout">CHECK OUT</label>
                                  <input id="checkout" class="form-control" required/>
                                  <div class="valid-feedback">
                                    <i class="fa fa-check" style="color: darkgreen; font-size:14;"></i>
                                  </div>
                                  <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="room">ROOM</label>
                                  <select class="form-control" id="room" required>
                                    <option>Single</option>
                                    <option>Double</option>
                                    <option>Triple</option>
                                    <option>Quad</option>
                                    <option>Queen</option>
                                    <option>King </option>
                                  </select>
                                  <div class="valid-feedback">
                                    <i class="fa fa-check" style="color: darkgreen; font-size:14;"></i>
                                  </div>
                                  <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="guests">GUESTS</label>
                                  <input type="number" class="form-control" id="guests" name="guests" value=1 min=1 max=2 required>
                                  <div class="valid-feedback">
                                    <i class="fa fa-check" style="color: darkgreen; font-size:14;"></i>
                                  </div>
                                  <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="book_price">
                              <div class="col d-flex align-items-center">
                                <div style="font-size: 17px; font-weight: 500;">₱ </div>
                                <div id="room_value_text_1" style="font-size: 17px;">15,000</div>
                                <div style="font-size: 17px; margin-left: 5px">/ night</div>
                              </div>
                              <div class="col d-flex align-items-center">
                                <div style="font-size: 17px; font-weight: 500;">₱ </div>
                                <div id="val_guests_text_1" style="font-size: 17px;">3,000</div>
                                <div style="font-size: 17px; margin-left: 5px">/ additional guest</div>
                              </div>
                              <p>_________________________________________________________</p>
                              <div class="col d-flex align-items-center">
                                <div style="font-size: 17px; font-weight: 500;">₱ </div>
                                <div id="room_value_text_2" style="font-size: 17px;">15,000</div>
                                <div style="font-size: 17px; margin-left: 5px; margin-right: 5px;">x</div>
                                <div id="num_nights_text" style="font-size: 17px; margin-right: 5px;">0</div>
                                <div style="font-size: 17px;">night/s</div>
                                <div style="font-size: 17px; margin-left: 5px; margin-right: 5px;">=</div>
                                <div style="font-size: 17px; font-weight: 500;">₱</div>
                                <div id="room_value_text_3" style="font-size: 17px;">0</div>
                              </div>
                              <div class="col d-flex align-items-center">
                                <div style="font-size: 17px; font-weight: 500;">₱ </div>
                                <div id="val_guests_text_2" style="font-size: 17px;">3,000</div>
                                <div style="font-size: 17px; margin-left: 5px; margin-right: 5px;">x</div>
                                <div id="num_guest_text_1" style="font-size: 17px; margin-right: 5px;">0</div>
                                <div style="font-size: 17px;">additional guest(s)</div>
                                <div style="font-size: 17px; margin-left: 5px; margin-right: 5px;">=</div>
                                <div style="font-size: 17px; font-weight: 500;">₱</div>
                                <div id="val_add_guest_text" style="font-size: 17px;">0</div>
                              </div>
                              <div class="col d-flex align-items-center" style="margin-top: 15px;">
                                <div style="font-size: 18px; font-weight: 500; margin-right: 10px;">Total: </div>
                                <div style="font-size: 18px; font-weight: 500;">₱ </div>
                                <div id="pricetext" style="font-size: 18px; font-weight: 500;">0</div>
                                <div class="col btn_book">
                                  <button type="submit" class="btn btn_register">BOOK</button>
                                </div>
                              </div>
                              <p id="booking_error" class="text-danger h6 text-center">Invalid input</p>
                          </div>
                        </div>
                    </div>
                    
                  </form>
                </div>
            </div>
            
        </div>

        <%- include('./partials/footer.ejs') %>
    </div>

        <%- include('./partials/account_popup.ejs') %>

        <script>

          $('#booking_error').hide();
          // set default dates
          var start = new Date();
          var defaultDate = new Date(start.getFullYear(), start.getMonth(), start.getDate());
          var checkinDate, checkoutDate, dateDifference, timeDifference;
          // set end date to max one year period:
          var end = new Date(new Date().setYear(start.getFullYear()+1));

          let checkoutdatepicker, checkindatepicker;
          let guests = $('#guests')
          let roomvalue = $('#room');
          let pricevalue = $('#pricetext')
          let roomNumber = 0
          let additionalGuest = 3000
          let numAdditionalGuest
          let totalPrice, subtotalPrice
          const maxGuests = [1,2,3,4,2,2]
          const roomprice = [15000, 20000, 25000, 35000, 40000, 45000]

          let roomvalText1 = $('#room_value_text_1')
          let roomvalText2 = $('#room_value_text_2')
          let roomvalText3 = $('#room_value_text_3')
          let guestvalText1 = $('#val_guests_text_1')
          let guestvalText2 = $('#val_guests_text_2')
          let numnightsText = $('#num_nights_text')
          let numguesttext = $('#num_guest_text_1')
          let valaddguest = $('#val_add_guest_text')

          checkoutdatepicker = $('#checkout').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'mm-dd-yyyy',
                todayHighlight: true,
                minDate: defaultDate,
                maxDate: 0
              }).on("change", function(){
                updateprice()
              });

          checkindatepicker = $('#checkin').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'mm-dd-yyyy',
                todayHighlight: true,
                minDate: defaultDate,
                maxDate: 0
            }).on("change", function(){
              checkoutdatepicker.datepicker('destroy');
              checkoutdatepicker.datepicker({
                uiLibrary: 'bootstrap4',
                format: 'mm-dd-yyyy',
                todayHighlight: true,
                minDate: new Date($(this).val()),
                maxDate: 0
              }).on("change", function(){
                updateprice()
              });
            });

            // guests field
            guests.keypress(function (e){
              e.preventDefault();
            });

            roomvalue.on("change", function(){
              if(roomvalue.val() == "Single"){
                roomNumber = 0;
                additionalGuest = 3000
                roomvalText1.text("15,000");
                roomvalText2.text("15,000");
                guestvalText1.text("3,000");
                guestvalText2.text("3,000");
                guests.attr({
                  min: 1,
                  max: 2
                });
              }
              else if(roomvalue.val() == "Double"){
                roomNumber = 1;
                additionalGuest = 3000
                roomvalText1.text("20,000");
                roomvalText2.text("20,000");
                guestvalText1.text("3,000");
                guestvalText2.text("3,000");
                guests.attr({
                  min: 1,
                  max: 3
                });
              }
              else if(roomvalue.val() == "Triple"){
                roomNumber = 2;
                additionalGuest = 3000
                roomvalText1.text("25,000");
                roomvalText2.text("25,000");
                guestvalText1.text("3,000");
                guestvalText2.text("3,000");
                guests.attr({
                  min: 1,
                  max: 4
                });
              }
              else if(roomvalue.val() == "Quad"){
                roomNumber = 3;
                additionalGuest = 3000
                roomvalText1.text("35,000");
                roomvalText2.text("35,000");
                guestvalText1.text("3,000");
                guestvalText2.text("3,000");
                guests.attr({
                  min: 1,
                  max: 5
                });
              }
              else if(roomvalue.val() == "Queen"){
                roomNumber = 4;
                additionalGuest = 5000
                roomvalText1.text("40,000");
                roomvalText2.text("40,000");
                guestvalText1.text("5,000");
                guestvalText2.text("5,000");
                guests.attr({
                  min: 1,
                  max: 4
                });
              }
              else if(roomvalue.val() == "King"){
                roomNumber = 5;
                additionalGuest = 5000
                roomvalText1.text("45,000");
                roomvalText2.text("45,000");
                guestvalText1.text("5,000");
                guestvalText2.text("5,000");
                guests.attr({
                  min: 1,
                  max: 4
                });
              }
              guests.val(1)
              resetdate()
              updateprice()
              numguesttext.text(0)
              valaddguest.text(0)
            });

            guests.on("change", function(){
              updateprice()
            })

            function resetdate(){
              checkindatepicker.datepicker('destroy');
              checkindatepicker.datepicker({
                uiLibrary: 'bootstrap4',
                format: 'mm-dd-yyyy',
                todayHighlight: true,
                minDate: defaultDate,
                maxDate: 0
              }).on("change", function(){
                checkoutdatepicker.datepicker('destroy');
                checkoutdatepicker.datepicker({
                  uiLibrary: 'bootstrap4',
                  format: 'mm-dd-yyyy',
                  todayHighlight: true,
                  minDate: new Date($(this).val()),
                  maxDate: 0
                }).on("change", function(){
                  updateprice()
                });
              });

              checkoutdatepicker.datepicker('destroy');
              checkoutdatepicker.datepicker({
                  uiLibrary: 'bootstrap4',
                  format: 'mm-dd-yyyy',
                  todayHighlight: true,
                  minDate: defaultDate,
                  maxDate: 0
                }).on("change", function(){
                  updateprice()
                });
            }

            function updateprice(){
              checkinDate = new Date(checkindatepicker.val())
              checkoutDate = new Date(checkoutdatepicker.val())
              timeDifference = Math.abs(checkoutDate - checkinDate)
              dateDifference = Math.ceil(timeDifference / (1000 * 60 * 60 * 24))
              numAdditionalGuest = guests.val() - maxGuests[roomNumber]
              totalPrice =  Math.imul(roomprice[roomNumber], dateDifference)
              subtotalPrice = totalPrice
              let internationalNumberFormat = new Intl.NumberFormat('en-US')
              if(numAdditionalGuest > 0){
                subtotalPrice = totalPrice + Math.imul(additionalGuest, numAdditionalGuest)
                numguesttext.text(numAdditionalGuest)
                valaddguest.text(internationalNumberFormat.format(Math.imul(additionalGuest, numAdditionalGuest)))
              }
              else{
                numguesttext.text(0)
                valaddguest.text(0)
              }
              if(checkinDate != "Invalid Date"){
                
                numnightsText.text(dateDifference)
                pricevalue.text(internationalNumberFormat.format(subtotalPrice))
                pricevalue.val(subtotalPrice)
                roomvalText3.text(internationalNumberFormat.format(totalPrice))
              }
              else{
                pricevalue.val(0)
                pricevalue.text(0)
                numnightsText.text(0)
                roomvalText3.text(0)
              }
            }

        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript">
            function toggle(){
                var blur = document.getElementById('blur');
                blur.classList.toggle('active');
                var popup = document.getElementById('popup');
                popup.classList.toggle('active');

                $("#form_login").show();
                $("#form_createaccount").hide();
                $("#login_error").hide();
                $("#register_error").hide();
            }
            function create_acc() {
                $("#form_login").hide();
                $("#form_createaccount").show();
                $("#register_error").hide();
            }
            function login() {
                $("#form_login").show();
                $("#form_createaccount").hide();
                $("#login_error").hide();
            }
            
        </script>
    </body>
</html>