<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/index_css.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
        <script src="./js/register.js"></script>
        <script src="./js/login.js"></script>
    </head>
    <body>
        <div class="container_whole" id="blur">
        <a class="top_btn" href="#top">
            <i class="fa fa-arrow-up" style="color:#fff; font-size:28px;"></i>
        </a>
        <img src="images/hotel_bg.jpg" id="bg" alt="">

        <div class="container py-0 nav_main">
            <nav class="navbar navbar-expand-lg nav_options">
                <div class="navbar-brand hotel_name_nav">robotel</div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon">
                    <i class="fa fa-bars" style="color:#fff; font-size:28px;"></i>
                  </span>
                </button>
                <div class="collapse navbar-collapse justify-content-start" id="navbarNavAltMarkup">
                  <div class="navbar-nav ml-auto text-right float-right">
                    <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="rooms">Rooms</a>
                    <a class="nav-item nav-link" href="services">Services</a>
                    <a class="nav-item nav-link" href="#contactus_section">Contact Us</a>
                    
                    <%- include('./partials/account_button.ejs') %>

                  </div>
                </div>
              </nav>
        </div>
        <div class="hotel_header">
            <div class="hotel_line">
                The Best Place To Stay
            </div>
            <div class="hotel_type">
                hotel & resort
            </div>
        </div>
        <div class="container-fluid px-0 content_con">
            <%- include('./partials/book_header.ejs') %>
            <div class="container-fluid py-5 about_con">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 pb-2 d-flex flex-column justify-content-between">
                            <div>
                                <div class="about_con_header">
                                    Experience the difference
                                </div>
                                <div class="about_con_description">
                                    Are you looking to surprise that special someone with a romantic getaway, or would you like to indulge in a culinary feast until the sun goes down, maybe you’d like to unwind while enjoying an amazing bike ride through the dunes? We're now here to take your mind off the day-to-day of home life with our private paradise along the beaches of Batangas.
                                </div>
                            </div>
                            <div  class="btn_about">
                                <a href="#rooms_section">SEE MORE</a>
                            </div>
                            
                        </div>
                        <div class="col-sm-6 py-0">
                            <div class="row p-3">
                                <div class="col-sm-12 p-2">
                                    <img src="./images/hotel_bg.jpg" class="about_con_img1">
                                </div> 
                                <div class="col-sm-6 p-2"> 
                                    <img src="./images/hotel1.jpg"  class="about_con_img2">
                                </div>
                                <div class="col-sm-6 p-2">
                                    <img src="./images/hotel2.jpg" class="about_con_img2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid py-5 rooms_con" id="rooms_section">
                <div class="container">
                    <div class="rooms_con_header">
                        Rooms
                    </div>
                    <div class="rooms_con_description">
                        Choose between spectacular balcony views of the nature or our resort’s private waterways, from the largest hotel rooms in Robotel.
                    </div>
                    <div class="homeroomlist_grid">
                        <div class="row d-flex justify-content-around">
                            <a class="col-sm-4 py-5 px-4 d-flex justify-content-center" href="view_rooms" style="max-width:  max-content;;">
                                <div class="card mb-4 border-0">
                                    <img src="./images/single.jpg" class="card-img-top" alt="test">
                                    <div class="card-body">
                                        <h5 class="card-title my-auto">Single Room </h5>
                                    </div>
                                    <div class="card-footer">P 15000.00 PER NIGHT</div>
                                </div>
                            </a>
                            <a class="col-sm-4 py-5 px-4 d-flex justify-content-center" href="view_rooms" style="max-width:  max-content;;">
                                <div class="card mb-4 border-0">
                                    <img src="./images/double.jpg" class="card-img-top" alt="test">
                                    <div class="card-body">
                                        <h5 class="card-title my-auto">Double Room </h5>
                                    </div>
                                    <div class="card-footer">P 20000.00 PER NIGHT</div>
                                </div>
                            </a>
                            <a class="col-sm-4 py-5 px-4 d-flex justify-content-center" href="view_rooms" style="max-width:  max-content;;">
                                <div class="card mb-4 border-0">
                                    <img src="./images/triple.jpg" class="card-img-top" alt="test">
                                    <div class="card-body">
                                        <h5 class="card-title my-auto">Triple Room </h5>
                                    </div>
                                    <div class="card-footer">P 25000.00 PER NIGHT</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="btn_rooms mx-auto">
                        <a href="rooms">SEE ALL</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid py-5 services_con" id="services_section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 px-5">
                            <img src="./images/beach1.jpg" class="services_con_img" alt="Paris">    
                        </div>
                        <div class="col-sm-6 p-5">
                            <div class="services_con_header2">
                                Up to the sea
                            </div>
                            <div class="services_con_description">
                                We love life at the beach. Being close to the ocean with access to endless sandy beaches ensures a relaxed ‘state of mind’. It seems time stands still when the water touches our toes.
                            </div>
                            <a class="services_con_description_link" href="view_services">
                                Learn more
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 px-5">
                            <div class="services_con_header2">
                               Dining
                            </div>
                            <div class="services_con_description">
                                Savour exceptional cuisine and rare wines in the most stylish spaces in town – a thrilling taste of the city’s diverse culinary landscape.
                            </div>

                            <a class="services_con_description_link" href="view_services">
                                Learn more
                            </a>
                        </div>
                        <div class="col-sm-6 p-5">
                            <img src="./images/dining1.jpg" class="services_con_img" alt="Paris">    
                        </div>
                    </div>
                    <div class="btn_services mx-auto">
                        <a href="services">SEE ALL</a>
                    </div>
                    
                </div>
            </div>
            
        </div>
       
        <%- include('./partials/footer.ejs') %>
    </div>

    <%- include('./partials/account_popup.ejs') %>

        <script>
            // set default dates
            var start = new Date();
            var defaultDate = new Date(start.getFullYear(), start.getMonth(), start.getDate());
            var newMinDate;
            // set end date to max one year period:
            var end = new Date(new Date().setYear(start.getFullYear()+1));

            // check in/out fields
            let checkoutdatepicker = $('#checkout').datepicker({
                    uiLibrary: 'bootstrap4',
                    format: 'mm-dd-yyyy',
                    todayHighlight: true,
                    minDate: defaultDate,
                    maxDate: 0
                })

            let checkindatepicker = $('#checkin').datepicker({
                    uiLibrary: 'bootstrap4',
                    format: 'mm-dd-yyyy',
                    todayHighlight: true,
                    minDate: defaultDate,
                    maxDate: 0
                }).on("change", function(){
                checkoutdatepicker.datepicker('destroy');
                checkoutdatepicker.datepicker({
                    uiLibrary: 'bootstrap4',
                    format: 'mm-dd-yyyy',
                    todayHighlight: true,
                    minDate: new Date($(this).val()),
                    maxDate: 0
                })
                });

                function resetdate(){
                checkindatepicker.datepicker('destroy');
                checkindatepicker.datepicker({
                    uiLibrary: 'bootstrap4',
                    format: 'mm-dd-yyyy',
                    todayHighlight: true,
                    minDate: defaultDate,
                    maxDate: 0
                }).on("change", function(){
                checkoutdatepicker.datepicker('destroy');
                checkoutdatepicker.datepicker({
                    uiLibrary: 'bootstrap4',
                    format: 'mm-dd-yyyy',
                    todayHighlight: true,
                    minDate: new Date($(this).val()),
                    maxDate: 0
                })
                });

                checkoutdatepicker.datepicker('destroy');
                checkoutdatepicker.datepicker({
                    uiLibrary: 'bootstrap4',
                    format: 'mm-dd-yyyy',
                    todayHighlight: true,
                    minDate: defaultDate,
                    maxDate: 0
                });
            }
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript">
            function toggle(){
                var blur = document.getElementById('blur');
                blur.classList.toggle('active');
                var popup = document.getElementById('popup');
                popup.classList.toggle('active');

                $("#form_login").show();
                $("#form_createaccount").hide();
                $("#login_error").hide();
                $("#register_error").hide();
            }
            function create_acc() {
                $("#form_login").hide();
                $("#form_createaccount").show();
                $("#register_error").hide();
            }
            function login() {
                $("#form_login").show();
                $("#form_createaccount").hide();
                $("#login_error").hide();
            }
        </script>
    </body>
</html>