@import url('https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans:wght@300;400;500&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;

}

#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;

    filter: brightness(60%) contrast(130%) saturate(60%);

    z-index: -1;
  }

.nav_main .active{
    color: #DCA73A;
}

.nav_main{
    align-items: center;
    align-content: center;
    color: white;
    margin-top: 50px;
    max-width: 100vw;
}

.nav_main a{
    color: white;
    margin-left: 10px;
}

.collapse a:hover{
    color: #DCA73A;
    transition: 0.2s;
}

.btn_booknow:hover, .btn_bookonline:hover, .btn_login:hover{
    color: white;
    transition: 0.2s;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.nav_main button:focus{
    outline: none !important;
}

.navbar-toggler{
    width: 47px;
    height: 34px;
}

.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: white;
    margin-bottom: 5px;
}

.hotel_name_nav{
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    text-transform:uppercase;
}

.nav_options{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: flex;
    text-transform: uppercase;
}

.btn_bookonline{
    text-align: center;
    background-color: #DCA73A;
    border-radius: 20px;
    width: 130px;
}

.hotel_header{
    height: 500px;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items : center;
    color: white;

}

.hotel_line{
    font-family: 'Alata', sans-serif;
    font-size: 80px;
    text-align: center;
}

.hotel_type{
    text-transform: capitalize;
}

.content_con{
    background-color: #f3f3f3;
    height: max-content;
}

.about_con{
    
    width: 100%;
    height:500px;
}

.about_con_header{
    font-size: 50px;
    color: #4e4e4e;
    font-family: 'Alata', sans-serif;
    text-align: left;
}

.rooms_con{
    background-color: white;
    width: 100%;
    height:500px;
}

.rooms_con_header{
    font-size: 50px;
    color: #4e4e4e;
    font-family: 'Alata', sans-serif;
    text-align: center;
}

.services_con{
    width: 100%;
    height: max-content;
}

.services_con_header2 a{
    color: #DCA73A;
}

.services_con a:hover{
    color: #4e4e4e;
    transition: 0.2s;
}

.services_con_header2{
    font-size: 20px;
    color: #4e4e4e;
    font-weight: 500;
    font-family: 'Alata', sans-serif;
    text-align: center;
}

.services_con_description{
    font-size: 14px;
    color: #4e4e4e;
    text-align: center;
    margin-top: 20px;
}

.services_con_img{
    width: inherit;
}

.services_con_description_link{
    font-size: 14px;
    color: #DCA73A;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}

.services_con .col-sm-6{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.services_con_btn{
    text-align: center;
    height: max-content;
    padding: 10px;
    background-color: #DCA73A;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 20px;
    width: max-content;
}


.content_con_btn a:hover{
    color: white;
    transition: 0.2s;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.book_con{  
    font-family: 'Open Sans', sans-serif;
    min-height: 170px;
    top: -60px;
    
    padding: 50px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.05);

    font-size: 14px;
    
}

.book_form col{
    display: flex;
    justify-content: space-around;
    
}
.book_con .col-sm-3 div{
    max-width: 200px;
    min-width: 80px;
}

.book_form_label{
    color: #4e4e4e;
    font-weight: 500;
}

.book_con input{
    position: relative;
    width: 100%;
    height:40px;
    margin-bottom: 15px;

    padding-left: 10px;
    padding-right: 10px;
    
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #e5e5e5;
}

.btn_booknow{
    text-align: center;
    height: max-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #DCA73A;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 20px;
    max-width: 150px;
    min-width: 50px;
}


.footer{
    width: 100%;
    height: max-content;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contactus_heading{
    font-size: 50px;
    font-family: 'Alata', sans-serif;
    color: white;
}

.email{
    font-size: 14x;
    color: white;
}

.location{
    font-size: 14x;
    color: white;
    margin-top: 50px;
    width: 10px;
}

.top_btn{
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 100%;
    background-color: #DCA73A;
    padding: 10px;
    z-index: 100;
}

.form-group {
    color: #f0ecec;
}

#back_login {
    margin-left: 40px;
}

.btn_login{
    text-align: center;
    height: max-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #DCA73A;
    color: white;
    text-transform: uppercase;
    margin-left: 62px;
    border-radius: 20px;
    max-width: 150px;
    min-width: 50px;
}

.btn_register{
    text-align: center;
    height: max-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #DCA73A;
    color: white;
    text-transform: uppercase;
    margin-left: 54px;
    border-radius: 20px;
    max-width: 150px;
    min-width: 50px;
}

.container_whole#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    padding: 30px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    height: auto;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.text-muted {
    margin-left: 25px;
}

.close_popup {
    color: #4e4e4e;
    margin-left: 158px;
}

.back_login {
    color: #4e4e4e;
}

#remember_me {
    margin-left: 5px;
}

.form-check-label {
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}