.serviceslist_con{
    height: max-content;
}

.serviceslist_header{
    font-size: 50px;
    color: #4e4e4e;
    font-family: 'Alata', sans-serif;
    text-align: center;
}

.serviceslist_description{
    font-size: 14px;
    color: #4e4e4e;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-img-top{
    height: 300px;
}

.card-title{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Alata', sans-serif;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #4e4e4e;
    
}

.card-text{
    size: 14px;
}

.card{
    border-radius: 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    width: 300px;
}

.card:hover{
    transition: 0.2s;
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.card-img-top , .card, .card-header, .card-body, .card-footer{
    border-radius:0 !important;
} 

.serviceslist_grid a:hover{
    color: #4e4e4e;
}

.form-group {
    color: #f0ecec;
}

#back_login {
    margin-left: 40px;
}

.btn_login{
    text-align: center;
    height: max-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #DCA73A;
    color: white;
    text-transform: uppercase;
    margin-left: 62px;
    border-radius: 20px;
    max-width: 150px;
    min-width: 50px;
}

.btn_register{
    text-align: center;
    height: max-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #DCA73A;
    color: white;
    text-transform: uppercase;
    margin-left: 54px;
    border-radius: 20px;
    max-width: 150px;
    min-width: 50px;
}

.container_whole#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    padding: 30px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    height: auto;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.text-muted {
    margin-left: 25px;
}

.close_popup {
    color: #4e4e4e;
    margin-left: 158px;
}

.back_login {
    color: #4e4e4e;
}